/* Global */
* {
    margin:0;
    padding: 0;
    border: none;
    outline: none;
    text-decoration: none;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family:Arial, Helvetica, sans-serif;
}
:root{
    --bg-color: #f0f0f0;
    --second-bg-color: #ffc632; 
    --text-color: #080808; 
    --second-text-color: #f0f0f0;
    --main-color: #800000; 
}
html{
    font-size: 60%;
    overflow-x: hidden;
}
body{
    background: var(--bg-color);
    color: var(--text-color);
}
/* 
    This contains already all the right colors of the TSU seal
    Create more color declarations if want to use others
    Ideally we should be using the main colors though

    to use them, here is an example{
    color: var(--main-color);
    }
    
    Thats it good luck
*/
/*  Local Eric */

/* Header */
.header{
    top:0;
    left: 0;
    width: 100%;
    padding: 0.5rem 1% 0.5rem;
    background: var(--main-color);
    backdrop-filter: blur(10px);
    z-index:5;
    display: flex;
    position:fixed;
    align-items:center;
    justify-content: space-between;
    align-items: center; 
    color: var(--second-text-color);
}
.header img{
    width:8%; 
    float:left;
    padding-right: 5px;
}
.header span{
    color: var(--second-bg-color);
}
.logo{
    font-size: 3rem;
    font-weight: 800;
    cursor: pointer;
    transition: 0.3s ease;;
    color: var(--header-color);
}
.logo:hover{
    transform:scale(1.05);
}
.nav-container {
    display: flex;
    align-items: center;
}
.navbar {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: space-between;

}
.navbar a{
    font-size: 2rem;
    margin-left: 2rem;
    margin-right: 2rem;
    font-weight: 500;
    overflow: hidden;
    color: var(--header-color);
    transition: 0.3s ease-in-out;
    border-bottom: 3px solid transparent;

}
@media only screen and (max-width: 1000px) {
    .navbar a{
        font-size: 1.5rem;
        margin-left: 4rem;
        font-weight: 500;
        overflow: hidden;
        color: var(--header-color);
        transition: 0.3s ease-in-out;
        border-bottom: 3px solid transparent;
    }
}
@media only screen and (max-width: 600px) {
    .navbar a{
        font-size: 1rem;
        margin-left: 4rem;
        font-weight: 500;
        overflow: hidden;
        color: var(--header-color);
        transition: 0.3s ease-in-out;
        border-bottom: 3px solid transparent;
    }
}
.navbar a:hover,
.navbar a.active{
    scale: 1.1;
    color: var(--second-bg-color);
    border-bottom: 3px solid var(--second-bg-color);
}

/* Error */
.error{
    height: 100vh;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column; 
}
.error .error-text{
    font-size: 100px;
    color: var(--main-color);
    text-decoration: underline;
    transition: 0.3s ease-in-out;
}
.error .error-text2{
    font-size: 50px;
    color: var(--main-color);
    text-decoration: underline;
    transition: 0.3s ease-in-out;
    margin-top: 20px;
}
.error .error-text:hover{
    scale: 1.2;
}
.error .error-text2:hover{
    scale: 1.2
}
.error .logo{
    font-size: 25px;
    color: var(--main-color);
    font-size: 100px;
    line-height: 42px;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    margin: 0 10px;
    transition: 0.3s ease-in-out;
}
.error .logo:hover{
    transform: scale(1.2)translateY(-10px);
    background-color: var(--main-color);
    color: var(--bg-color);
}

/* Footer */
.footer{
    position: relative;
    bottom: 0;
    width: 100%;
    padding: 20px 0;
    background-color: var(--second-bg-color);
}
.footer .social{
    text-align: center;
    padding-bottom: 20px;
    color: var(--main-color);
}
.footer .social a{
    font-size: 25px;
    color: var(--main-color);
    border: 2px solid var(--main-color);
    width: 42px;
    height: 42px;
    line-height: 42px;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    margin: 0 10px;
    transition: 0.3s ease-in-out;
}
.footer .social a:hover{
    transform: scale(1.2)translateY(-10px);
    background-color: var(--main-color);
    color: var(--second-bg-color);
}
.footer ul{
    margin-top: 0;
    padding: 0;
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 0;
    text-align: center;
}
.footer ul li a{
    color: var(--text-color);
    border-bottom: 3px solid transparent;
    transition: 0.3s ease-in-out;
}
.footer ul li a:hover{
    border-bottom: 3px solid var(--main-color);
    color: var(--main-color);
}
.footer ul li{
    display: inline-block;
    padding: 0 15px;
}
.footer .copyright{
    padding-top: 5px;
    margin-top: 20px;
    text-align: center;
    font-size: 16px;
    color: var(--text-color);
}

/* Log In Page */ 
.log-in{
    margin-top: 0;
    height: 100vh;
    padding: 20px;
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.log-in .login-wrapper{
    padding-top: 50px;
}
.log-in .btn{
    margin-top: 2rem;
    margin-bottom: 100px;
    padding-top: 10px;
    padding: 1rem 2.8rem;
    border-radius: 4rem;
    font-size: 1.6rem;
    letter-spacing: 0.1rem;
    font-weight: 600;
    cursor:pointer;
    display: inline-block;
    border: 2px solid transparent;
    transition: 0.3s ease-in-out;
    color: var(--second-text-color);
    background: var(--main-color);
}
.log-in .btn:hover{
    transform:scale(1.05);
    color: var(--main-color);
    background: var(--second-bg-color);
}
.log-in .log-header{
    font-size: 3.5rem;
    padding-bottom: 20px;
    color: var(--main-color);
}
.log-in .input-box{
    flex: 1;
    padding-top: 30px;
    margin-bottom: 20px; 
    float: left;
    display: flex;
    flex-wrap:wrap;
    justify-content: center;
}
.log-in .input-box input{
    width: 90%;
    margin:1.5rem 0;
    padding: 2.5rem;
    font-size: 1.8rem;
    border-radius: 2rem;
    resize: none;
    color: var(--header-color);
    background: var(--third-bg-color);
    border: 2px solid var(--main-color);
}
.log-in .bypass-btn {
    text-align: center;
    margin-left: 10px;
}

/* Home */

.home{
    padding-top: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15rem;
}
.home-content{
    display: flex;
    flex-direction: column;
    align-items: baseline;
    text-align: left;
    justify-content: center;
    margin-top: 3rem;
}


/*  Local Tyron */