/* Global */
* {
    margin:0;
    padding: 0;
    border: none;
    outline: none;
    text-decoration: none;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family:Arial, Helvetica, sans-serif;
}
:root{
    /* Dark */
    --bg-color: #0e1824;
    --second-bg-color: #1c2837; 
    --text-color: #97b0cf; 
    --second-text-color: #2c394b;
    --third-text-color: #f0f0f0;
    --main-color: #121e2d; 

    /* Light */
    --light-bg-color: #f0f0f0;
    --light-second-bg-color: #eaecf1; 
    --light-text-color: #424545; 
    --light-second-text-color: #3d507f;
    --light-main-color: #ffffff; 

    /* TSU Colors */
    --tsu-yellow-color: #ffc632; 
    --tsu-white-color: #f0f0f0;
    --tsu-red-color: #800000; 

    /* 
    This contains already all the right colors of the TSU seal
    Create more color declarations if want to use others
    Ideally we should be using the main colors though

    to use them, here is an example{
    color: var(--main-color);
    }
    
    Thats it good luck
*/
}
html{
    font-size: 60%;
    overflow-x: hidden;
}
body{
    background: var(--bg-color);
    color: var(--text-color);
}
.color-btn{
    display: inline-block;
    padding: 0.5rem 1rem;
    background: transparent;
    border-radius: 4rem;
    color: var(--text-color);
    border: 2px solid transparent;
    letter-spacing: 0.1rem;
    font-size: 3rem;
    font-weight: 600;
    transition: 0.3s ease-in-out;
    cursor:pointer;
}
.color-btn:hover{
    transform:scale(1.05);
    background-color: var(--light-main-color);
    color: var(--light-text-color);
    border: 2px solid var(--light-text-color); 
}
.btn {
    margin-top: 2rem;
    margin-bottom: 100px;
    padding-top: 10px;
    padding: 1rem 2.8rem;
    border-radius: 4rem;
    font-size: 1.6rem;
    letter-spacing: 0.1rem;
    font-weight: 600;
    cursor:pointer;
    display: inline-block;
    border: 2px solid transparent;
    transition: 0.3s ease-in-out;
    background-color: var(--bg-color); 
    color: var(--text-color); 
    border: 2px solid var(--text-color);
}
.btn:hover {
    transform:scale(1.05);
    background-color: var(--text-color); 
    color: var(--bg-color); 
    border: 2px solid var(--bg-color);
}
.btn-group a:nth-of-type(2){
    background-color: var(--text-color); 
    color: var(--bg-color); 
    border: 2px solid var(--bg-color);
}
.btn-group a:nth-of-type(2):hover{
    background-color: var(--bg-color); 
    color: var(--text-color); 
    border: 2px solid var(--text-color);
}
/*  Local Eric */

/* Header */
.header{
    top:0;
    left: 0;
    width: 100%;
    padding: 0rem 1% 0rem;
    background: var(--main-color);
    backdrop-filter: blur(10px);
    z-index:5;
    display: flex;
    position:fixed;
    align-items:center;
    justify-content: space-between;
    align-items: center; 
    color: var(--second-text-color);
}
.header img{
    width:8%; 
    float:left;
    padding-right: 5px;
}
.header span{
    color: var(--tsu-red-color);
}
.logo{
    font-size: 3rem;
    font-weight: 800;
    cursor: pointer;
    transition: 0.3s ease;;
    color: var(--tsu-yellow-color);
}
.logo:hover{
    transform:scale(1.05);
}
.nav-container {
    display: flex;
    align-items: center;
}
.navbar {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: space-between;

}
.navbar a{
    font-size: 2rem;
    margin-left: 2rem;
    margin-right: 2rem;
    font-weight: 500;
    overflow: hidden;
    color: var(--text-color);
    transition: 0.3s ease-in-out;
    border-bottom: 3px solid transparent;

}
@media only screen and (max-width: 1000px) {
    .navbar a{
        font-size: 1.5rem;
        margin-left: 4rem;
        font-weight: 500;
        overflow: hidden;
        transition: 0.3s ease-in-out;
        border-bottom: 3px solid transparent;
    }
}
@media only screen and (max-width: 600px) {
    .navbar a{
        font-size: 1rem;
        margin-left: 4rem;
        font-weight: 500;
        overflow: hidden;
        transition: 0.3s ease-in-out;
        border-bottom: 3px solid transparent;
    }
}
.navbar a:hover,
.navbar a.active{
    scale: 1.1;
    color: var(--third-text-color);
    border-bottom: 3px solid var(--third-text-color);
}

/* Error */
.error{
    height: 100vh;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column; 
}
.error .error-text{
    font-size: 100px;
    color: var(--text-color);
    text-decoration: underline;
    transition: 0.3s ease-in-out;
}
.error .error-text2{
    font-size: 50px;
    color: var(--text-color);
    text-decoration: underline;
    transition: 0.3s ease-in-out;
    margin-top: 20px;
}
.error .error-text:hover{
    scale: 1.2;
}
.error .error-text2:hover{
    scale: 1.2
}
.error .logo{
    font-size: 25px;
    color: var(--text-color);
    font-size: 100px;
    line-height: 42px;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    margin: 0 10px;
    transition: 0.3s ease-in-out;
}
.error .logo:hover{
    transform: scale(1.2)translateY(-10px);
    background-color: var(--text-color);
    color: var(--bg-color);
}

/* Footer */
.footer{
    position: relative;
    bottom: 0;
    width: 100%;
    padding: 20px 0;
    background-color: var(--second-bg-color);
}
.footer .social{
    text-align: center;
    padding-bottom: 20px;
    color: var(--text-color);
}
.footer .social a{
    font-size: 25px;
    color: var(--text-color);
    border: 2px solid var(--text-color);
    width: 42px;
    height: 42px;
    line-height: 42px;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    margin: 0 10px;
    transition: 0.3s ease-in-out;
}
.footer .social a:hover{
    transform: scale(1.2)translateY(-10px);
    background-color: var(--text-color);
    color: var(--bg-color);
}
.footer ul{
    margin-top: 0;
    padding: 0;
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 0;
    text-align: center;
}
.footer ul li a{
    color: var(--text-color);
    border-bottom: 3px solid transparent;
    transition: 0.3s ease-in-out;
}
.footer ul li a:hover{
    border-bottom: 3px solid var(--second-text-color);
    color: var(--second-text-color);
}
.footer ul li{
    display: inline-block;
    padding: 0 15px;
}
.footer .copyright{
    padding-top: 5px;
    margin-top: 20px;
    text-align: center;
    font-size: 16px;
    color: var(--text-color);
}

/* Log In Page */ 
.log-in{
    margin-top: 0;
    height: 100vh;
    padding: 20px;
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column; 
}
.log-in .login-wrapper{
    padding-top: 50px;
}
.log-in .logo{
    font-size: 25px;
    color: var(--text-color);
    font-size: 100px;
    line-height: 42px;
    justify-content: center;
    text-align: center;
    border-radius: 50%;
    margin: 0 10px;
    transition: 0.3s ease-in-out;
}
.log-in .logo:hover{
    transform: scale(1.2)translateY(-10px);
}
.log-in .log-header{
    font-size: 3.5rem;
    padding-bottom: 20px;
    color: var(--text-color);
}
.log-in .input-box{
    flex: 1;
    padding-top: 30px;
    margin-bottom: 20px; 
    float: left;
    display: flex;
    flex-wrap:wrap;
    justify-content: center;
}
.log-in .input-box input{
    width: 90%;
    margin:1.5rem 0;
    padding: 2.5rem;
    font-size: 1.8rem;
    border-radius: 2rem;
    resize: none;
    color: var(--text-color);
    background: var(--second-bg-color);
    border: 2px solid var(--text-color);
}
.log-in .bypass-btn {
    text-align: center;
    margin-left: 10px;
}

/* Home */

.home{
    padding-top: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15rem;
}
.home-content{
    display: flex;
    flex-direction: column;
    align-items: baseline;
    text-align: left;
    justify-content: center;
    margin-top: 3rem;
}

/* General Light Mode Styles */
body.light-mode {
    background-color: var(--light-bg-color); 
    color: var(--light-text-color); 
    transition: background-color 0.3s ease, color 0.3s ease;
}

/* Header Styles */
.header.light-mode {
    background: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(10px);
}

/* Navbar Styles */
.navbar.light-mode {
    background: transparent; 
    backdrop-filter: blur(10px);
}

.navbar.light-mode a {
    color: var(--light-text-color); 
}

.navbar.light-mode a:hover {
    color: var(--light-second-text-color);
}

/* Active Link Styles */
.navbar.light-mode a.active {
    color: var(--light-second-text-color); 
    font-weight: bold;
}

/* Buttons */
.light-mode .btn {
    background-color: var(--light-bg-color); 
    color: var(--light-text-color); 
    border: 2px solid var(--light-text-color);
}
.light-mode .btn:hover {
    background-color: var(--light-text-color); 
    color: var(--light-bg-color); 
    border: 2px solid var(--light-bg-color);
}
.light-mode .btn-group a:nth-of-type(2){
    background-color: var(--light-text-color); 
    color: var(--light-bg-color); 
    border: 2px solid var(--light-bg-color);
}
.light-mode .btn-group a:nth-of-type(2):hover{
    background-color: var(--light-bg-color); 
    color: var(--light-text-color); 
    border: 2px solid var(--light-text-color);
}
.light-mode .color-btn{
    color: var(--light-text-color);
}
.light-mode .color-btn:hover{
    background-color: var(--bg-color);
    color: var(--light-bg-color);
}
.light-mode .go-to-btn{
    background: var(--bg-color);
}

/* Log In */
.light-mode .log-in .logo{
    color: var(--light-text-color);
}
.log-in .log-header{
    color: var(--light-text-color);
}
.light-mode .log-in .input-box input{
    color: var(--light-text-color);
    background: var(--light-second-bg-color);
    border: 2px solid var(--light-text-color);
}

/* Social Icons */
.light-mode .social-icons a{
    background-color: var(--light-bg-color); 
    color: var(--light-text-color); 
    border: 2px solid var(--bg-color); 
}
.light-mode .footer .social a{
    background-color: var(--light-bg-color); 
    color: var(--light-text-color); 
    border: 2px solid var(--bg-color); 
}

/* Hover State for Social Icons in Light Mode */
.light-mode .social-icons a:hover {
    background-color: var(--light-text-color); 
    color: var(--light-bg-color); 
    border: 2px solid var(--light-text-color);
}
.light-mode .footer .social a:hover {
    background-color: var(--light-text-color); 
    color: var(--light-bg-color); 
    border: 2px solid var(--light-text-color);
}

/* Footer Styles */
.footer.light-mode {
    background-color: var(--light-second-bg-color);
    color: var(--light-text-color); 
}
.footer.light-mode ul li a {
    color: var(--light-text-color); 
    border-bottom: 3px solid transparent;
    transition: 0.3s ease-in-out;
}
.footer.light-mode ul li a:hover {
    border-bottom: 3px solid var(--light-main-color); 
    color: var(--light-main-color); 
}
.footer.light-mode .copyright{
    color: var(--light-text-color); 
}
.footer.light-mode .social a:hover{
    color: var(--light-bg-color);
    border: 2px solid var(--light-text-color);
}

/* Section Styles */
.section.light-mode {
    background-color: #ffffff; 
    color: var(--light-text-color); 
    border: 1px solid #ddd;
}

/* Logo Styles */
.logo.light-mode {
    color: var(--light-text-color); 
}

/* Transition Effects */
.header, .navbar, .footer, .section {
    transition: background-color 0.3s ease, color 0.3s ease, border 0.3s ease;
}

/*  Local Tyron */
/* User Dashboard Section */
.user-dashboard {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    margin-top: 80px; /* To avoid overlapping with header */
}

/* Sidebar styles */
.sidebar {
    width: 250px;
    background: var(--second-bg-color);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.sidebar-menu {
    list-style-type: none;
    padding: 0;
}

.sidebar-menu li {
    margin-bottom: 15px;
}

.sidebar-menu li a {
    font-size: 1.6rem;
    color: var(--text-color);
    text-decoration: none;
    transition: 0.3s ease;
}

.sidebar-menu li a:hover {
    color: var(--tsu-yellow-color);
}

/* Dashboard Content styles */
.dashboard-content {
    flex-grow: 1;
    margin-left: 30px;
}

.user-profile {
    display: flex;
    margin-bottom: 40px;
    align-items: center;
}

.user-img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 20px;
}

.user-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.user-details h2 {
    font-size: 2.4rem;
    color: var(--tsu-yellow-color);
}

.user-details p {
    font-size: 1.6rem;
    color: var(--text-color);
}

.dashboard-cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 30px;
}

.card {
    background: var(--second-bg-color);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.card h3 {
    font-size: 2rem;
    color: var(--tsu-yellow-color);
    margin-bottom: 10px;
}

.card p {
    font-size: 1.6rem;
    color: var(--text-color);
    margin-bottom: 20px;
}

.card .btn {
    background-color: var(--tsu-yellow-color);
    color: var(--bg-color);
    border-radius: 4rem;
    font-size: 1.6rem;
    font-weight: 600;
    padding: 1rem 2rem;
    border: none;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}

.card .btn:hover {
    background-color: var(--bg-color);
    color: var(--tsu-yellow-color);
}
.booking-section {
    background-color: var(--second-bg-color);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin-top: 30px;
}

.booking-section h3 {
    font-size: 2rem;
    color: var(--tsu-yellow-color);
    margin-bottom: 20px;
}

.booking-section ul {
    list-style-type: none;
    padding: 0;
}

.booking-section ul li {
    font-size: 1.6rem;
    color: var(--text-color);
    margin-bottom: 10px;
}
/*Appointment booking*/
.office-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* 4 columns */
    gap: 10px;
    margin: 20px;
}

.office-window {
    background-color: #ffc632;
    padding: 20px;
    text-align: center;
    border: 1px solid #ccc;
    cursor: pointer;
    transition: background-color 0.3s;
}

.office-window:hover {
    background-color: #800000;
}

/* Office Window Buttons */
.office-window {
    padding: 10px 20px;
    border: none;
    background-color: #4CAF50;
    color: white;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    margin: 5px;
    text-align: center;
}

.office-window:hover {
    background-color: #45a049;
}
table {
    width: 100%; 
    border-collapse: collapse;
    box-sizing: border-box !important;
}
.container {
    text-align: center !important;   
    overflow: hidden !important;
    width: 80% !important;
    margin: 5px !important;
    padding: 5em !important;
}
.container td {
    font-weight: normal !important;
    font-size: 1em !important;
    -webkit-box-shadow: 0 2px 2px -2px #0E1119 !important;
    -moz-box-shadow: 0 2px 2px -2px #0E1119 !important;
    box-shadow: 0 2px 2px -2px #0E1119 !important;
}

.container td, .container th {
    padding: 1em !important;
}

.container tr:nth-child(odd) {
    background-color: #323C50 !important;
}

.container tr:nth-child(even) {
    background-color: #2C3446 !important;
}

.container th {
    background-color: #1F2739 !important;
}

.container td:first-child { color: #FB667A !important; }

.container tr:hover {
    background-color: #464A52 !important;
    -webkit-box-shadow: 0 6px 6px -6px #0E1119 !important;
    -moz-box-shadow: 0 6px 6px -6px #0E1119 !important;
    box-shadow: 0 6px 6px -6px #0E1119 !important;
}
@media (max-width: 800px) {
    .container td:nth-child(4),
    .container th:nth-child(4) { display: none; }
}


/* Modal Styles */
.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modal-content {
    background: white;
    padding: 20px;
    border-radius: 10px;
    max-width: 500px;
    text-align: center;
}

.hidden {
    display: none;
}

.close-button {
    float: right;
    cursor: pointer;
    font-size: 20px;
    font-weight: bold;
}

.custom-btn {
    display: inline-block;
    padding: 1rem 2rem;
    font-size: 1.6rem;
    font-weight: 600;
    color: var(--tsu-white-color); 
    background-color: var(--tsu-red-color); 
    border: 2px solid var(--tsu-red-color);
    border-radius: 4rem;
    text-align: center;
    transition: all 0.3s ease;
    text-decoration: none; 
    cursor: pointer;
}

.custom-btn:hover {
    background-color: var(--tsu-yellow-color);
    color: var(--tsu-red-color);
    border: 2px solid var(--tsu-yellow-color);
}
